doctype html
html
    head
        meta(charset="Utf-8")
        title jade demo
    body
        //header
        include header
        //main area
        block content
        //footer
        include footer